


.Container-login {
    width: 100%;
    height: 500px;
    border: 1px solid red ;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.formlog {
    width: 100%;
    max-width: 300px;
    
    border: 1px solid;
}

